{% for item in nginx_targets_node %}
{%- set os = [] -%}
{%- set pro = [] -%}
- targets: ['{{ hostvars[item]['ansible_host'] }}:9113']
  labels:
    {% for group in hostvars[item]['group_names'] -%}
    {%- if group | regex_search('os\.(u\d+|[crf].*\d+)') -%}
    {{ os.append(group | regex_replace('^(.*)\.(.*)$','\\2')) }}
    {%- endif -%}
    {%- endfor -%}
    all: "{{ item }}"
    os: "{{ os|unique|join('#') }}"
    pro: "{{ pro|unique|join('#') }}"
{% endfor %}
