{{- $var := .externalURL}}{{ range $k,$v:=.alerts }}
{{- if eq $v.status "resolved" }}
**[恢复信息]({{ $v.generatorURL }})**
*✅[{{$v.labels.alertname}}]({{ $var }})*
告警级别：{{ $v.labels.level }}
故障地址：{{ $v.labels.instance }}
{{- if $v.labels.all }}
故障主机：{{ $v.labels.all }}{{ end -}}
开始时间：{{ GetCSTtime $v.startsAt }}
结束时间：{{ GetCSTtime $v.endsAt }}
当前时间：{{ GetCSTtime "" }}
摘要信息：{{ $v.annotations.summary }}
{{- if $v.annotations.description }}
描述信息：{{ $v.annotations.description }}{{ end -}}
{{ else }}
**[告警信息]({{ $v.generatorURL }})**
*⛔[{{$v.labels.alertname}}]({{ $var }})*
告警级别：{{ $v.labels.level }}
故障地址：{{ $v.labels.instance }}
{{- if $v.labels.all }}
故障主机：{{ $v.labels.all }}{{ end -}}
开始时间：{{ GetCSTtime $v.startsAt }}
当前时间：{{ GetCSTtime "" }}
摘要信息：{{ $v.annotations.summary }}
{{- if $v.annotations.description }}
描述信息：{{ $v.annotations.description }}{{ end -}}
{{ end -}}
{{ end -}}
