[Unit]
Description=loki
After=network.target

[Service]
ExecStart=/usr/local/bin/loki -config.file {{ loki_root_dir }}/loki.yml
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
