[Unit]
Description=promtail
After=network.target

[Service]
ExecStart=/usr/local/bin/promtail -config.file {{ promtail_root_dir }}/promtail.yml
Restart=on-failure

[Install]
WantedBy=multi-user.target
