<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>{{ inventory_hostname }}</name>
  <description></description>
  <remoteFS>{{ remote_fs }}</remoteFS>
  <numExecutors>5</numExecutors>
  <mode>EXCLUSIVE</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.814.vc82988f54b_10">
    <host>{{ ansible_host }}</host>
    <port>{{ target_ssh_port }}</port>
    <credentialsId>{{ credentials_id }}</credentialsId>
    <launchTimeoutSeconds>60</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.NonVerifyingKeyVerificationStrategy"/>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label></label>
  <nodeProperties/>
</slave>
