{{ ansible_managed | comment }}


[Unit]
Description=consul_exporter
After=network-online.target

[Service]
Type=simple
Environment="GOMAXPROCS={{ ansible_processor_vcpus|default(ansible_processor_count) }}"
User=prometheus
Group=prometheus
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/opt/consul_exporter/consul_exporter \
  --web.listen-address=:9107 \
  --consul.server={{ ansible_host }}:8500

ProtectSystem=full

SyslogIdentifier=prometheus
Restart=always

[Install]
WantedBy=multi-user.target
