{{ ansible_managed | comment }}

[Unit]
Description=filestat_exporter
After=network-online.target

[Service]
Type=simple
Environment="GOMAXPROCS={{ ansible_processor_vcpus|default(ansible_processor_count) }}"
User=root
Group=root
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/local/bin/filestat_exporter \
    -web.listen-address=0.0.0.0:9943 \
    -config.file=/etc/prometheus/conf.d/filestat_exporter.yml

ProtectSystem=full

SyslogIdentifier=prometheus
Restart=always

[Install]
WantedBy=multi-user.target
