{{ ansible_managed | comment }}

[Unit]
Description=kafka_exporter
After=network-online.target

[Service]
Type=simple
Environment="GOMAXPROCS={{ ansible_processor_vcpus|default(ansible_processor_count) }}"
User=prometheus
Group=prometheus
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/local/bin/kafka_exporter \
  --kafka.server={{ ansible_host }}:9092 \
  --kafka.server={{ ansible_host }}:9092 \
  --kafka.server={{ ansible_host }}:9092 \
  --web.listen-address=0.0.0.0:9308

ProtectSystem=full

SyslogIdentifier=prometheus
Restart=always

[Install]
WantedBy=multi-user.target
