{{ ansible_managed | comment }}

[Unit]
Description=kminion
After=network-online.target

[Service]
Environment="KAFKA_BROKERS='{{ hostvars['kafka-cluster-1']['ansible_host'] }}:9092,{{ hostvars['kafka-cluster-2']['ansible_host'] }}:9092,{{ hostvars['kafka-cluster-3']['ansible_host'] }}:9092'"
Type=simple
Environment="GOMAXPROCS={{ ansible_processor_vcpus|default(ansible_processor_count) }}"
User=prometheus
Group=prometheus
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/local/bin/kminion

ProtectSystem=full

SyslogIdentifier=prometheus
Restart=always

[Install]
WantedBy=multi-user.target
