{{ ansible_managed | comment }}


[Unit]
Description=mysql_exporter
After=network-online.target

[Service]
Type=simple
Environment="GOMAXPROCS={{ ansible_processor_vcpus|default(ansible_processor_count) }}"
User=prometheus
Group=prometheus
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/local/bin/mysqld_exporter \
  --config.my-cnf=/etc/prometheus/conf.d/mysql_exporter.cnf \
  --web.listen-address="0.0.0.0:9088" \
  --log.level=info

ProtectSystem=full

SyslogIdentifier=prometheus
Restart=always

[Install]
WantedBy=multi-user.target
