{{ ansible_managed | comment }}

[Unit]
Description=process_exporter
After=network-online.target

[Service]
Type=simple
Environment="GOMAXPROCS={{ ansible_processor_vcpus|default(ansible_processor_count) }}"
User=prometheus
Group=prometheus
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/local/bin/process-exporter \
    -web.listen-address=0.0.0.0:9256 \
    -config.path=/etc/prometheus/conf.d/process_exporter.yml

ProtectSystem=full

SyslogIdentifier=prometheus
Restart=always

[Install]
WantedBy=multi-user.target
