{{ ansible_managed | comment }}


[Unit]
Description=ssl_exporter
After=network-online.target

[Service]
Type=simple
Environment="GOMAXPROCS={{ ansible_processor_vcpus|default(ansible_processor_count) }}"
User=prometheus
Group=prometheus
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/opt/ssl_exporter/ssl_exporter \
    --web.listen-address=":9219" \
    --web.metrics-path="/metrics"

ProtectSystem=full

SyslogIdentifier=prometheus
Restart=always

[Install]
WantedBy=multi-user.target
