{
    "default-address-pools":
        [
            {
                "base": "{{ address }}",
                "size": {{ size }}
            }
        ],
    "registry-mirrors":
        [
            "{{ mirrors1 }}",
            "{{ mirrors2 }}",
            "{{ mirrors3 }}",
            "{{ mirrors4 }}"
        ]
}
