highlight RedundantSpaces ctermbg=red guibg=red
match RedundantSpaces /\s\+$\| \+\ze\t\|\t/
set foldmethod=marker
set fileformats=unix
set background=dark
set encoding=utf-8
set softtabstop=4
set shiftwidth=4
set laststatus=2
set history=1000
set backspace=2
set cursorline
set ignorecase
set autoindent
set smartcase
set incsearch
set tabstop=4
set expandtab
set showmatch
set showmode
set autoread
set hlsearch
set bg=dark
set number
set ruler
syntax on
call plug#begin('~/.vim/plugged')
Plug 'vim-airline/vim-airline' | Plug 'vim-airline/vim-airline-themes'
call plug#end()
let g:airline#extensions#tabline#enabled=1
let g:airline_theme='simple'
if has("autocmd")
  au BufReadPost * if line("'\"") > 1 && line("'\"") <= line("$") | exe "normal! g'\"" | endif
endif
