MODE=cluster
NACOS_SERVER_IP={{ ansible_host }}
NACOS_SERVERS={{ hostvars['nacos-cluster-1'].ansible_host }}:8848,{{ hostvars['nacos-cluster-2'].ansible_host }}:8848,{{ hostvars['nacos-cluster-3'].ansible_host }}:8848
SPRING_DATASOURCE_PLATFORM=mysql
MYSQL_SERVICE_HOST={{ hostvars['nacos-mysql']['ansible_host'] }}
MYSQL_SERVICE_PORT=3306
MYSQL_SERVICE_DB_NAME={{ mysql_database }}
MYSQL_SERVICE_USER={{ mysql_user }}
MYSQL_SERVICE_PASSWORD={{ mysql_password }}
MYSQL_DATABASE_NUM=1
