{% for item in prometheus_targets_node %}
{%- set dist = [] -%}
- targets: ['{{ hostvars[item]['ansible_host'] }}:9100']
  labels:
    {% for group in hostvars[item]['group_names'] -%}
    {%- if group | regex_search('dist\.(u\d+|[crf].*\d+)') -%}
    {{ dist.append(group | regex_replace('^(.*)\.(.*)$','\\2')) }}
    {%- endif -%}
    {%- endfor -%}
    all: "{{ item }}"
    dist: "{{ dist|unique|join('#') }}"
{% endfor %}
