MINIO_SERVER_URL=http://{{ hostvars['minio-proxy'].ansible_host }}:9000
MINIO_BROWSER_REDIRECT_URL=http://{{ hostvars['minio-proxy'].ansible_host }}:9001

MINIO_ROOT_USER={{ minio_root_user }}
MINIO_ROOT_PASSWORD={{ minio_root_password }}

{% if minio_identity_ldap == "on" %}
MINIO_IDENTITY_LDAP_SERVER_ADDR={{ ldap_server }}:389
MINIO_IDENTITY_LDAP_STS_EXPIRY=1h
MINIO_IDENTITY_LDAP_SERVER_STARTTLS=off
MINIO_IDENTITY_LDAP_SERVER_INSECURE=on
MINIO_IDENTITY_LDAP_LOOKUP_BIND_DN={{ ldap_bind_dn }}
MINIO_IDENTITY_LDAP_LOOKUP_BIND_PASSWORD={{ ldap_bind_dn_passowrd }}
MINIO_IDENTITY_LDAP_USER_DN_SEARCH_FILTER=(&(objectClass=user)(sAMAccountName=%s))
MINIO_IDENTITY_LDAP_USER_DN_SEARCH_BASE_DN={{ ldap_base_dn }}
MINIO_IDENTITY_LDAP_GROUP_SEARCH_FILTER=(&(objectClass=group)(member=%d))
MINIO_IDENTITY_LDAP_GROUP_SEARCH_BASE_DN={{ ldap_base_dn }}
{% endif %}

MINIO_PROMETHEUS_AUTH_TYPE=public
MINIO_PROMETHEUS_URL=http://{{ hostvars['prometheus-server'].ansible_host }}:9090
MINIO_PROMETHEUS_JOB_ID={{ minio_job_name }}

MINIO_CACHE=on
MINIO_CACHE_DRIVES={{ minio_cache_drives }}
MINIO_CACHE_EXPIRY=10
MINIO_CACHE_QUOTA=80
MINIO_CACHE_EXCLUDE={{ minio_cache_exclude }}
MINIO_CACHE_AFTER=3
MINIO_CACHE_COMMENT=writethrough
MINIO_CACHE_WATERMARK_LOW=70
MINIO_CACHE_WATERMARK_HIGH=90
